---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';


const {posts} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
    width: 100%;
				display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
    width: 80%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
      .title:hover{
        color: rgb(var(--gray));
    }
			.date {
				margin: 0;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
  .info{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(var(--gray));
    margin-top: 1rem;
    
    }

    .description{
    margin-top: 1rem;
      color: rgb(var(--gray));
    }
    .tags{
    display: flex;
    flex-direction: row;
    }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>

								<a href={`/blog/${post.id}/`}>
									<h3 class="title">{post.data.title}</h3>
								</a>
              
              <div class="description">{post.data.description}</div>
            <div class="info">
									<div class="date">
										🗓️<FormattedDate date={post.data.pubDate} />
									</div>
              &nbsp;&nbsp;
              <div class="tags">{post.data.tags.map(( tag) =>  <a href=`${tag}` class="tag">🏷️{tag}</a>)}</div> 
            </div> 
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
